<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All AddressBooks</title>
</head>
<body>
<div th:each="ab : ${alladdressbooks}">
    <h2>AddressBook ID: <span th:text="${ab.getId}"></span></h2>
    <ul>
        <li th:each="buddy : ${ab.getBuddyInfos}">
            ID: <span th:text="${buddy.getId}"></span>, Name: <span th:text="${buddy.getName}"></span>, Number: <span th:text="${buddy.getNumber}"></span>, Address: <span th:text="${buddy.getAddress}"></span>
        </li>
    </ul>
</div>
    <button id="homeBtn">Home</button>
<script th:src="@{/js/alladdressbooks.js}"></script>
<script th:src="@{/js/common.js}"></script>

</body>
</html>
